.header-secao {
  text-align: center;
  margin-bottom: 25px;

  .icone-circulo {
    width: 60px;
    height: 60px;
    background-color: #FFE0E0;
    color: #e63946;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
  }

  h2 { 
    font-size: 1.4rem; 
    font-weight: 800; 
    color: #000; 
    margin: 0 0 8px 0; }
  .frase-motivacional { 
    font-size: 1rem; 
    color: #555; 
    margin: 0; }
}

.retangulo-externo {
  width: 80%;
  height: 60%;
  margin: 0 auto; /* centraliza no eixo X */
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 32px;
  border-radius: 12px;

//   display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #ffffff;
  border: 1px solid #ddd; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.retangulo-interno {
  width: 95%;
  height: 95%;
  margin: 0 auto; /* centraliza no eixo X */
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 32px;
  border-radius: 12px;
  
//   display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #E6F1E9;
  border: 1px solid #ddd; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  p { margin-bottom: 16px; }

  .acoes-regras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }

  .checkbox-regras {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    color: #333;
  }

  .btn-iniciar {
    background-color: #009239;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }

  .btn-iniciar[disabled] {
    background-color: #9ccaa3;
    cursor: not-allowed;
  }
}