<main class="cadastro-page">
  <div class="cadastro-container">
    <div class="cadastro-left">
      <div class="avatar">
        <i class="bi bi-person-fill"></i>
      </div>

      <div class="grupo">
        <h4>Tipo Sanguíneo</h4>

        <div class="radio-grid">
          <label><input type="radio" name="tipo" /> A+</label>
          <label><input type="radio" name="tipo" /> A-</label>
          <label><input type="radio" name="tipo" /> B+</label>
          <label><input type="radio" name="tipo" /> B-</label>
          <label><input type="radio" name="tipo" /> AB+</label>
          <label><input type="radio" name="tipo" /> AB-</label>
          <label><input type="radio" name="tipo" /> O+</label>
          <label><input type="radio" name="tipo" /> O-</label>
          <label><input type="radio" name="tipo" /> Não sei</label>
        </div>
      </div>

      <div class="grupo">
        <h4>Sexo:</h4>
        <div class="radio-column">
          <label><input type="radio" name="sexo" /> Masculino</label>
          <label><input type="radio" name="sexo" /> Feminino</label>
        </div>
      </div>
    </div>

    <div class="cadastro-right">
      <form>
        <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input type="email" />
        </div>

        <div class="form-group">
          <label>CPF</label>
          <input type="text" placeholder="Ex: 000.000.000-00" />
        </div>

        <div class="form-group">
          <label>Endereço</label>
          <input type="text" />
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Data de nascimento</label>
            <input type="text" placeholder="Ex: DD/MM/AAAA" />
          </div>

          <div class="form-group">
            <label>Telefone</label>
            <input type="text" placeholder="Ex: (DD) NNNNN-NNNN" />
          </div>
        </div>

        <div class="form-group">
          <label>Senha</label>
          <input
            type="password"
            placeholder="Dica: use letras maiúsculas, minúsculas e caracteres especiais"
          />
        </div>

        <div class="form-group">
          <label>Confirmar senha</label>
          <input type="password" />
        </div>

        <div class="buttons">
          <button type="button" class="btn-cancelar">Cancelar</button>
          <button type="submit" class="btn-concluir">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</main>
