<main class="cadastro-page">
  <div class="cadastro-container">
    <div class="cadastro-left">
      <div class="avatar">
        <i class="bi bi-person-fill"></i>
      </div>

      <div class="grupo">
        <h4>Tipo Sanguíneo</h4>
        <div class="radio-grid">
          <label
            ><input
              type="radio"
              name="tipo"
              value="A+"
              [(ngModel)]="dados.tipoCompleto"
            />
            A+</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="A-"
              [(ngModel)]="dados.tipoCompleto"
            />
            A-</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="B+"
              [(ngModel)]="dados.tipoCompleto"
            />
            B+</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="B-"
              [(ngModel)]="dados.tipoCompleto"
            />
            B-</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="AB+"
              [(ngModel)]="dados.tipoCompleto"
            />
            AB+</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="AB-"
              [(ngModel)]="dados.tipoCompleto"
            />
            AB-</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="O+"
              [(ngModel)]="dados.tipoCompleto"
            />
            O+</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="O-"
              [(ngModel)]="dados.tipoCompleto"
            />
            O-</label
          >
          <label
            ><input
              type="radio"
              name="tipo"
              value="Não sei"
              [(ngModel)]="dados.tipoCompleto"
            />
            Não sei</label
          >
        </div>
      </div>

      <div class="grupo">
        <h4>Sexo:</h4>
        <div class="radio-column">
          <label
            ><input
              type="radio"
              name="sexo"
              value="Masculino"
              [(ngModel)]="dados.sexo"
            />
            Masculino</label
          >
          <label
            ><input
              type="radio"
              name="sexo"
              value="Feminino"
              [(ngModel)]="dados.sexo"
            />
            Feminino</label
          >
        </div>
      </div>
    </div>

    <div class="cadastro-right">
      <form (ngSubmit)="concluirCadastro()">
        <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" name="nome" [(ngModel)]="dados.nome_completo" />
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input type="email" name="email" [(ngModel)]="dados.email" />
        </div>

        <div class="form-group">
          <label>CPF</label>
          <input
            type="text"
            name="cpf"
            [(ngModel)]="dados.cpf"
            placeholder="Ex: 000.000.000-00"
          />
        </div>

        <div class="form-group">
          <label>Endereço</label>
          <input type="text" name="endereco" [(ngModel)]="dados.endereco" />
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Data de nascimento</label>
            <input
              type="date"
              name="data"
              [(ngModel)]="dados.data_nascimento"
              placeholder="Ex: DD/MM/AAAA"
            />
          </div>

          <div class="form-group">
            <label>Telefone</label>
            <input
              type="text"
              name="telefone"
              [(ngModel)]="dados.telefone"
              placeholder="Ex: (DD) NNNNN-NNNN"
            />
          </div>
        </div>

        <div class="form-group">
          <label>Senha</label>
          <input
            type="password"
            name="senha"
            [(ngModel)]="dados.senha"
            placeholder="Dica: use letras..."
          />
        </div>

        <div class="form-group">
          <label>Confirmar senha</label>
          <input
            type="password"
            name="confirmar"
            [(ngModel)]="dados.confirmarSenha"
          />
        </div>

        <div class="buttons">
          <button type="button" class="btn-cancelar">Cancelar</button>
          <button type="submit" class="btn-concluir">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</main>
