/* TELAS DE RESULTADO (APTO / INAPTO) */

.resultado-box {
  border-radius: 12px;
  padding: 40px 30px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px; 

  .icone-resultado {
    font-size: 65px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 25px;
    color: #222;
  }

  .avisos-lista {
    list-style: none;
    padding: 0;
    margin: 0 auto 30px auto;
    max-width: 500px;
    text-align: left;

    li {
      margin-bottom: 15px;
      font-size: 0.95rem;
      font-weight: 600;
      display: flex;
      align-items: flex-start;
      gap: 10px;

      i { 
        font-size: 1.1rem; 
        margin-top: 2px;
      }
    }
  }

  .btn-resultado {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 12px 60px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
  }

  &.apto {
    background-color: #E8F5E9; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 2px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent; 

    
    .icone-resultado { color: #28a745; }
    
    .avisos-lista li { 
      color: #d39e00; 
    }
  }

  &.inapto {
    background-color: #FDECEA;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 2px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent; 


    .icone-resultado { color: #dc3545; }
    
    .subtitulo-inapto {
      font-weight: 700;
      font-size: 1.05rem;
      margin-bottom: 15px;
      color: #333;
    }

    .motivos-lista li { 
      color: #dc3545;  
    }
  }
}