<app-header></app-header>

<main>
  <router-outlet>
    <app-home-carrosel></app-home-carrosel>
    <div class="card-container">
      <div class="card-left">
        <img src="images/logo-hemoacre.png" alt="Doe Sangue, Doe Vida!" />
      </div>

      <div class="card-right">
        <h2>Por que doar sangue?</h2>
        <p>
          O Ambiente de Apoio ao Doador Acreano é Lorem ipsum dolor sit amet.
          Quo reiciendis numquam et consequatur nesciunt est temporibus
          recusandae ut recusandae sint sed dolor sapiente! Id consequatur
          quidem non dolorem dolores et molestiae quibusdam.
        </p>
        <p>Ut cul... Ferramenta escrita criativa.</p>
      </div>
    </div>
  </router-outlet>
</main>

<app-footer></app-footer>
