<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container-fluid d-flex align-items-center">
    <button
      class="btn btn-link btn-hamburger me-3"
      (click)="toggleMenu()"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <a class="navbar-brand mx-auto" routerLink="/">A.M.A.D.O.A.R.</a>

    <div class="d-flex align-items-center logo">
      <img src="images/logo-hemoacre.png" alt="Logo" />
    </div>
  </div>

  <div class="mobile-menu" [ngClass]="{ show: isMenuOpen }">
    <a routerLink="/" class="menu-item" (click)="toggleMenu()">Início</a>
    <a routerLink="/condicoes" class="menu-item" (click)="toggleMenu()"
      >Condições para doar</a
    >
    <a routerLink="/hemometro" class="menu-item" (click)="toggleMenu()"
      >Hemômetro</a
    >

    <ng-container *ngIf="isLogado()">
      <a routerLink="/questionario" class="menu-item" (click)="toggleMenu()"
        >Questionário da triagem</a
      >

      <a
        *ngIf="temAcesso(['doador'])"
        routerLink="/pagina-doador"
        class="menu-item"
        (click)="toggleMenu()"
        >Página do Doador</a
      >

      <a
        *ngIf="temAcesso(['recepcionista'])"
        routerLink="/processo-doacao-REC"
        class="menu-item"
        (click)="toggleMenu()"
        >Processo de Doação - REC</a
      >

      <a
        *ngIf="temAcesso(['medico'])"
        routerLink="/processo-doacao-MED"
        class="menu-item"
        (click)="toggleMenu()"
        >Processo de Doação - MED</a
      >

      <a
        *ngIf="temAcesso(['administrador'])"
        routerLink="/gestao-pessoal"
        class="menu-item"
        (click)="toggleMenu()"
        >Gestão de Pessoal</a
      >

      <a
        *ngIf="temAcesso(['administrador'])"
        routerLink="/estoque-bolsas"
        class="menu-item"
        (click)="toggleMenu()"
        >Estoque de Bolsas</a
      >

      <a
        (click)="deslogar()"
        class="menu-item text-danger"
        style="cursor: pointer"
        >Sair</a
      >
    </ng-container>

    <a
      *ngIf="!isLogado()"
      routerLink="/login"
      class="menu-item"
      (click)="toggleMenu()"
      >Login</a
    >
  </div>

  <div
    class="menu-overlay"
    [ngClass]="{ show: isMenuOpen }"
    (click)="toggleMenu()"
  ></div>
</nav>
