<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container-fluid d-flex align-items-center">
    <button
      class="btn btn-link btn-hamburger me-3"
      (click)="toggleMenu()"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <a class="navbar-brand mx-auto" routerLink="/">A.M.A.D.O.A.R.</a>

    <div class="d-flex align-items-center logo">
      <img src="images/logo-hemoacre.png" alt="Logo" />
    </div>
  </div>

  <div class="mobile-menu" [ngClass]="{ show: isMenuOpen }">
    <div class="mobile-menu-header">
      <div class="brand-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="icon-amadoar"
          width="50"
          height="50"
        >
          <circle
            cx="12"
            cy="12"
            r="11"
            fill="none"
            stroke="#fff"
            stroke-width="2"
          />
          <path
            transform="translate(0, 1.5)"
            fill="#fff"
            d="M12 17.27L10.59 16C7.26 12.98 5 10.93 5 8.5 5 6.4 6.6 4.8 8.7 4.8c1.2 0 2.36.56 3.3 1.45.94-.89 2.1-1.45 3.3-1.45 2.1 0 3.7 1.6 3.7 3.7 0 2.43-2.26 4.48-5.59 7.5L12 17.27z"
          />
        </svg>
        <span class="brand-text">A.M.A.D.O.A.R</span>
      </div>

      <div class="user-container" *ngIf="isLogado()">
        <span class="user-role">{{ getCargoFormatado() }}:</span>
        <span class="user-name">{{ getNomeUsuario() }}</span>
      </div>
    </div>

    <div class="menu-links">
      <a routerLink="/" class="menu-item" (click)="toggleMenu()">Início</a>
      <a
        (click)="irParaSecao('secao-hemometro')"
        class="menu-item"
        style="cursor: pointer"
      >
        Hemômetro
      </a>
      <a
        (click)="irParaSecao('secao-condicoes')"
        class="menu-item"
        style="cursor: pointer"
      >
        Condições para doar
      </a>

      <ng-container *ngIf="isLogado()">
        <a
          *ngIf="temAcesso(['doador', 'administrador'])"
          routerLink="/questionario"
          class="menu-item"
          (click)="toggleMenu()"
          >Questionário da triagem</a
        >

        <a
          *ngIf="temAcesso(['doador', 'administrador'])"
          routerLink="/pagina-doador"
          class="menu-item"
          (click)="toggleMenu()"
          >Página do Doador</a
        >

        <a
          *ngIf="temAcesso(['recepcionista', 'administrador'])"
          routerLink="/processo-doacao-REC"
          class="menu-item"
          (click)="toggleMenu()"
          >Processo de Doação - REC</a
        >

        <a
          *ngIf="temAcesso(['medico', 'administrador'])"
          routerLink="/processo-doacao-MED"
          class="menu-item"
          (click)="toggleMenu()"
          >Processo de Doação - MED</a
        >

        <a
          *ngIf="temAcesso(['enfermeiro', 'administrador'])"
          routerLink="/processo-doacao-MED"
          class="menu-item"
          (click)="toggleMenu()"
          >Processo de Doação - ENF</a
        >

        <a
          *ngIf="temAcesso(['administrador'])"
          routerLink="/gestao-pessoal"
          class="menu-item"
          (click)="toggleMenu()"
          >Gestão de Pessoal</a
        >

        <a
          *ngIf="temAcesso(['administrador', 'medico', 'enfermeiro'])"
          routerLink="/estoque-bolsas"
          class="menu-item"
          (click)="toggleMenu()"
          >Estoque de Bolsas</a
        >
        <a
          *ngIf="
            temAcesso([
              'administrador',
              'medico',
              'enfermeiro',
              'recepcionista',
            ])
          "
          routerLink="/listar-doadores"
          class="menu-item"
          (click)="toggleMenu()"
          >Lista de Doadores</a
        >

        <a
          (click)="deslogar()"
          class="menu-item text-danger"
          style="cursor: pointer"
          >Sair</a
        >
      </ng-container>

      <a
        *ngIf="
          temAcesso([
            'doador',
            'medico',
            'recepcionista',
            'enfermeiro',
            'administrador',
          ])
        "
        routerLink="/pagina-doador"
        class="menu-item"
        (click)="toggleMenu()"
        >Meu Perfil</a
      >
    </div>
  </div>

  <div
    class="menu-overlay"
    [ngClass]="{ show: isMenuOpen }"
    (click)="toggleMenu()"
  ></div>
</nav>
