<div class="pagina">
  <div class="centralizando">
    <div class="topo">
      <div class="campo-busca">
        <label>Buscar</label>
        <input type="text" placeholder="Nome/cpf" [(ngModel)]="busca" />
      </div>

      <div class="campo-filtro">
        <label>Filtro</label>
        <select [(ngModel)]="filtroSelecionado">
          <option value="Todos">Todos</option>
          <option value="Médico">Médico</option>
          <option value="Enfermeiro">Enfermeiro</option>
          <option value="Recepcionista">Recepcionista</option>
        </select>
      </div>
    </div>

    <div class="lista-container">
      <div class="lista-scroll">
        <div class="usuario-card" *ngFor="let usuario of usuariosPaginados">
          <div class="info">
            Nome: {{ usuario.nome }} Cargo: {{ usuario.cargo }}
          </div>

          <div class="acoes">
            <button class="btn-acao btn-visualizar">
              <i class="bi bi-eye"></i>
            </button>

            <button class="btn-acao btn-editar">
              <i class="bi bi-pencil"></i>
            </button>

            <button class="btn-acao btn-excluir" (click)="excluir(usuario.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-paginacao 
      [paginaAtual]="paginaAtual" 
      [totalItens]="usuariosFiltrados.length" 
      [itensPorPagina]="itensPorPagina" 
      (mudancaPagina)="mudarPagina($event)">
    </app-paginacao>


  </div>
</div>
