<div class="pagina">
  <div class="centralizando">
    <h2 class="titulo">Iniciar Doação</h2>

    <div class="layout-grid">
      <div class="secao-busca">
        <div class="campo-busca">
          <label>Buscar Doador:</label>
          <input
            type="text"
            placeholder="000.000.000-00"
            [(ngModel)]="cpfBusca"
            (ngModelChange)="onCpfChange()"
          >
        </div>

      </div>
      <p *ngIf="mensagem">{{ mensagem }}</p>

      <div class="perfil-container" *ngIf="doadorEncontrado">
        <div class="usuario-card">
          <div class="avatar-wrapper">
            <div class="avatar">
              <i class="bi bi-person-fill"></i>
            </div>
          </div>

          <div class="info-doador">
            <p><strong>Nome:</strong> {{ doadorEncontrado.nome_completo }}</p>
            <p>
              <strong>Tipo Sanguineo:</strong>
              {{ (doadorEncontrado.tipo_sanguineo_declarado || '') + (doadorEncontrado.fator_rh || '') }}
            </p>
            <p><strong>Status:</strong> Tempo de doação apto</p>
          </div>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button class="btn-iniciar" (click)="iniciar()" [disabled]="!doadorEncontrado">
        Iniciar
      </button>
    </div>
  </div>
</div>