.pagina-doador {
  background: #f4f4f4;
  padding: 30px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.formulario {
  margin-bottom: 30px;
}

.linha {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo.grande {
  flex: 2;
}

.campo.pequeno {
  flex: 0.6;
}

.campo.estado {
  flex: 0.4;
}

.campo.numero {
  flex: 0.3;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
}

input,
select {
  height: 42px;
  border-radius: 10px;
  border: none;
  padding: 0 12px;
  background-color: #e6f1e9;
}

.acoes-centrais {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.btn-principal {
  width: 380px;
  height: 100px;
  padding: 0 40px;

  margin: 25px 70px;

  border-radius: 18px;
  border: none;

  background: #ffffff;
  color: #0b5d2a;

  font-size: 18px;
  font-weight: 700;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);

  cursor: pointer;
  transition: all 0.25s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-principal:hover {
  transform: translateY(-3px);
}

.historico {
  margin-top: 30px;
}

.historico-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.tabela-wrapper {
  background: #0b5d2a;
  padding: 20px;
  border-radius: 14px;
  max-height: 360px;
  box-sizing: border-box;
  box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tabela-scroll {
  max-height: 320px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 14px;

  padding-right: 6px;
}

.linha-exame {
  background: #ffffff;
  border-radius: 10px;
  padding: 16px 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;
  transition: all 0.2s ease;
}

.linha-exame:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

.nome-exame {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2b2b2b;
}

.data-exame {
  font-weight: 700;
  color: #444;
}

.tabela-scroll::-webkit-scrollbar {
  width: 10px;
}

.tabela-scroll::-webkit-scrollbar-thumb {
  background: #1f7a45;
  border-radius: 20px;
}

.tabela-scroll::-webkit-scrollbar-thumb:hover {
  background: #145c32;
}

.tabela-scroll {
  scrollbar-width: thin;
  scrollbar-color: #1f7a45 transparent;
}

@media (max-width: 992px) {
  .linha {
    flex-direction: column;
  }

  .acoes-centrais {
    flex-direction: column;
    gap: 20px;
  }
}
