<div class="pagina-doador">
  <div class="container">
    <div class="topo-pagina">
      <h2 class="titulo">Meu Perfil</h2>

      <div
        class="editar-perfil"
        routerLink="/cadastro"
        [queryParams]="{ modo: 'editar' }"
        *ngIf="isDoador"
      >
        <span>Editar perfil</span>
        <i class="bi bi-pencil"></i>
      </div>
      <div
        class="editar-perfil"
        (click)="navegarComDados(false)"
        *ngIf="isEnfermeiro || isMedico || isRecepcionista"
      >
        <span>Editar perfil</span>
        <i class="bi bi-pencil"></i>
      </div>
    </div>

    <div class="formulario">
      <div class="linha">
        <div class="campo grande">
          <label>Nome completo</label>
          <input type="text" [(ngModel)]="usuario.nome" disabled />
        </div>

        <div class="campo pequeno" *ngIf="isDoador">
          <label>Tipo Sanguíneo</label>
          <input type="text" [(ngModel)]="usuario.tipoSanguineo" disabled />
        </div>

        <div class="campo pequeno" *ngIf="isMedico">
          <label>CRM</label>
          <input type="text" [(ngModel)]="usuario.crm" disabled />
        </div>

        <div class="campo pequeno" *ngIf="isEnfermeiro">
          <label>COREN</label>
          <input type="text" [(ngModel)]="usuario.coren" disabled />
        </div>
      </div>

      <div class="linha">
        <div class="campo grande">
          <label>Endereço</label>
          <input type="text" [(ngModel)]="usuario.rua" disabled />
        </div>
        <div
          class="campo pequeno"
          *ngIf="isMedico || isEnfermeiro || isRecepcionista"
        >
          <label>Cargo</label>
          <select [(ngModel)]="this.cargoAtual" disabled>
            <option value="enfermeiro">Enfermeiro</option>
            <option value="recepcionista">Recepcionista</option>
            <option value="medico">Médico</option>
          </select>
        </div>
      </div>

      <div class="linha">
        <div class="campo" *ngIf="isDoador">
          <label>Telefone</label>
          <input type="text" [(ngModel)]="usuario.telefone" disabled />
        </div>

        <div class="campo">
          <label>Email</label>
          <input type="email" [(ngModel)]="usuario.email" disabled />
        </div>
      </div>

      <div class="linha">
        <div class="campo">
          <label>Data de Nascimento</label>
          <input type="date" [(ngModel)]="usuario.dataNascimento" disabled />
        </div>

        <div class="campo pequeno" *ngIf="isDoador">
          <label>Sexo</label>
          <select [(ngModel)]="usuario.sexo" disabled>
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
          </select>
        </div>

        <div class="campo grande">
          <label>CPF</label>
          <input type="text" [(ngModel)]="usuario.cpf" disabled />
        </div>
      </div>

      <div class="linha" *ngIf="isDoador">
        <div class="campo">
          <label>Última Doação</label>
          <input type="date" [(ngModel)]="usuario.ultimaDoacao" disabled />
        </div>

        <div class="campo">
          <label>Próxima Doação</label>
          <input type="date" [(ngModel)]="usuario.proximaDoacao" disabled />
        </div>
      </div>
    </div>

    <div class="acoes-centrais" *ngIf="isDoador">
      <button
        class="btn-principal"
        (click)="abrirCarteira()"
        *ngIf="carteiraUrl"
      >
        Visualizar Carteira Digital
      </button>
      <button class="btn-principal" (click)="abrirQuestionario()">
        Visualizar Questionário Online
      </button>
    </div>

    <div class="historico" *ngIf="isDoador">
      <div class="historico-topo">
        <h3>Histórico de exames</h3>
      </div>

      <div class="tabela-wrapper">
        <div class="tabela-scroll">
          <a
            class="linha-exame"
            *ngFor="let exame of exames"
            [href]="exame.link"
            target="_blank"
            download
            title="Baixar {{ exame.nome }}"
          >
            <div class="info-exame">
              <i class="bi bi-file-earmark-pdf-fill icone-pdf"></i>
              <span class="nome-exame">{{ exame.nome }}</span>
            </div>

            <div class="acoes-exame">
              <span class="data-exame">{{ exame.data }}</span>
              <i class="bi bi-cloud-arrow-down-fill icone-download"></i>
            </div>
          </a>

          <div *ngIf="exames.length === 0" class="sem-exames">
            Nenhum exame laboratorial disponível no momento.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-carteira" *ngIf="mostrarCarteira">
    <div class="modal-overlay" (click)="fecharCarteira()"></div>

    <div class="modal-conteudo">
      <div class="modal-topo">
        <h3>Carteira Digital do Doador</h3>
        <i class="bi bi-x-lg" (click)="fecharCarteira()"></i>
      </div>

      <div class="carteira-container">
        <img [src]="carteiraUrl" alt="Carteira de Doador" />
      </div>
    </div>
  </div>
</div>

<app-toast-notificacao #toast></app-toast-notificacao>
