<div class="pagina">
  <h2>Lista de Doadores</h2>
  <div class="centralizando">
    <div class="topo">
      <div class="campo-busca">
        <label>Buscar</label>
        <input type="text" placeholder="Nome/cpf" [(ngModel)]="busca" />
      </div>

      <div class="campo-filtro">
        <label>Tipo Sanguíneo</label>
        <select [(ngModel)]="filtroSelecionado">
          <option value="Todos">Todos</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>
    </div>

    <div class="lista-container">
      <div *ngIf="usuariosFiltrados.length === 0" class="sem-resultados">
        Nenhum doador encontrado.
      </div>

      <div class="lista-doadores">
        <div class="doador-card" *ngFor="let usuario of usuariosPaginados">
          <div class="doador-header" (click)="toggleExpand(usuario)">
            <div class="tipo-badge">
              <!-- <i class="bi bi-droplet"></i> -->
              <span
                >{{ usuario.tipo_sanguineo_declarado
                }}{{ usuario.fator_rh }}</span
              >
            </div>

            <div class="doador-info">
              <span class="nome">{{ usuario.nome_completo }}</span>

              <span class="cpf">
                <i class="bi bi-person"></i>
                {{ usuario.cpf }}
              </span>
            </div>

            <div class="icone-expandir">
              <i
                class="bi"
                [ngClass]="
                  usuario.expandido ? 'bi-chevron-up' : 'bi-chevron-down'
                "
              ></i>
            </div>
          </div>

          <div class="doador-body" *ngIf="usuario.expandido">
            <div class="info-grid">
              <div class="info-box">
                <span class="label">CPF</span>
                <span class="valor">{{ usuario.cpf }}</span>
              </div>

              <div class="info-box">
                <span class="label">Email</span>
                <span class="valor">{{ usuario.email }}</span>
              </div>

              <div class="info-box">
                <span class="label">Telefone</span>
                <span class="valor">{{ usuario.telefone }}</span>
              </div>

              <div class="info-box">
                <span class="label">Endereço</span>
                <span class="valor">{{ usuario.endereco }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-paginacao
      [paginaAtual]="paginaAtual"
      [totalItens]="usuariosFiltrados.length"
      [itensPorPagina]="itensPorPagina"
      (mudancaPagina)="mudarPagina($event)"
    >
    </app-paginacao>
  </div>
</div>
