<footer class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-section">
        <h5>Salve Vidas!</h5>
        <button class="btn btn-cadastro mt-2" routerLink="cadastro">
          Cadastre-se
        </button>
      </div>

      <div class="col-md-4 footer-section">
        <h5>Contatos</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-facebook"></i
            ><a href="https://www.instagram.com/hemoacre/">Facebook</a>
          </li>
          <li><i class="bi bi-telephone"></i>(68) 3248-1380</li>
          <li><i class="bi bi-whatsapp"></i>(68) 3248-1380</li>
          <li>
            <i class="bi bi-instagram"></i
            ><a href="https://www.facebook.com/people/Hemoacre/61564071387086/"
              >Instagram
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 footer-section">
        <h5>Endereço</h5>
        <p>Avenida Getúlio Vargas, nº 2.787, bairro Bosque</p>
      </div>
    </div>
  </div>
</footer>
