<footer class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-section">
        <h5>Salve Vidas!</h5>
        <button class="btn btn-cadastro mt-2">Cadastre-se</button>
      </div>

      <div class="col-md-4 footer-section">
        <h5>Contatos</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-facebook"></i>Facebook</li>
          <li><i class="bi bi-telephone"></i>Telefone</li>
          <li><i class="bi bi-whatsapp"></i>Zap Zap</li>
          <li><i class="bi bi-instagram"></i>Insta</li>
        </ul>
      </div>

      <div class="col-md-4 footer-section">
        <h5>Endereço</h5>
        <p>Rua Luis Henrique Sales Bonfim Brito</p>
      </div>
    </div>
  </div>
</footer>
