.pagina {
  padding: 30px;
  background-color: #f4f4f4;
}

.centralizando {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.btn-icone {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.7;
  }
}

.titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2a2a2a;
  text-align: center;
}

.lista-container {
  background-color: #e6f1e9;
  padding: 20px;
  border-radius: 10px;
}

.lista-scroll {
  max-height: 380px;
  overflow-y: auto;
  padding-right: 5px;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1d7c6;
    border-radius: 10px;
  }
}

.usuario-card {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: #c1d7c6;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .linha-superior {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .id {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    background-color: #218838;
    border-radius: 10px;
    padding: 0px 10px;
  }

  .nome {
    font-size: 16px;
    font-weight: 600;
    color: #222;
  }

  .data {
    font-size: 13px;
    color: #777;
  }
  .acoes {
    display: flex;
    align-items: center;

    .btn-acao {
      background-color: #28a745;
      color: #ffffff;
      border: none;
      padding: 8px 18px;
      border-radius: 50px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(40, 167, 69, 0.2);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #218838;
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(40, 167, 69, 0.3);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0 1px 2px rgba(40, 167, 69, 0.2);
      }

      &:disabled {
        background-color: #e0e0e0;
        color: #6c757d;
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
      }
    }
  }
}
