:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #f4f4f4;
}

.titulo-estoque {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  font-weight: 800;
  margin: 50px 10px 20px 10px;
  color: #333;

  span { color: #9f0000; }
}
.container-estoque {
  background-color: #5B0E0E;
  padding: 40px 20px;
  border-radius: 20px;
  max-width: 1200px;
  width: 90%; 
  margin: 0 auto 50px auto;
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

/* GRID ADAPTÁVEL */
.grid-hemometros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;

  /* Tablets */
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 10px;
  }

  /* Celulares */
  @media (max-width: 500px) {
    grid-template-columns: 1fr; /* 1 coluna */
    gap: 25px;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-radius: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.card-left {
  flex: 1;
  text-align: center;

  img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.9rem;
    font-weight: 800;
    color: #9f0000;
  }
}

.card-right {
  flex: 2;
  padding-left: 40px;

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #333;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
  }
}

.accordion-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  max-width: 1200px;
  margin: 40px auto;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #333;
  }
}

.accordion-section {
  margin-bottom: 30px;
}

.accordion-item {
  margin-bottom: 15px;

  .accordion-header {
    width: 100%;
    background: #f5f5f5;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;

    &:hover {
      background: #e0e0e0;
    }

    .arrow {
      font-size: 1rem;
      transition: transform 0.3s;
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition:
      max-height 0.4s ease,
      padding 0.3s ease;

    p {
      margin: 15px 0;
      font-size: 1rem;
      color: #555;
    }
  }

  &.active {
    .accordion-content {
      max-height: 200px;
      padding: 15px;
    }

    .accordion-header .arrow {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .card-left {
    margin-bottom: 20px;

    img {
      max-width: 150px;
    }
  }

  .card-right {
    padding-left: 0;
  }
}

.faixa-triagem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8f5e9;
  padding: 20px 30px;
  margin: 40px auto;
  min-height: 190px;
  height: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.centraliza-texto-e-botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.faixa-texto {
  flex: 3;

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;
  }
}

.faixa-botao {
  flex: 1;
  text-align: right;

  .btn-triagem {
    padding: 12px 25px;
    background: #008f39;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition:
      transform 0.2s,
      background 0.3s;

    &:hover {
      transform: scale(1.05);
      background: #006f2d;
    }
  }
}

@media (max-width: 768px) {
  .faixa-triagem {
    flex-direction: column;
    height: auto;
    padding: 25px 15px;
  }

  .centraliza-texto-e-botao {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 20px;
  }

  .faixa-texto {
    width: 100%;
  }

  .faixa-botao {
    width: 100%;
    text-align: center;

    .btn-triagem {
      width: 100%;
      max-width: 280px;
    }
  }
}
