.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 50px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.login-left {
  flex: 1;
  background: #ffffff;
  padding: 40px;
  text-align: center;

  .logo {
    max-width: 180px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: #333;
  }

  .btn-cadastro {
    width: 55%;
    padding: 12px;
    background: #ffffff;
    color: #005124;
    border-radius: 10px;
    font-size: 1.1rem;
    border-color: #005124;
    font-weight: bold;
    cursor: pointer;
    transition:
      transform 0.2s,
      background 0.3s;

    &:hover {
      transform: scale(1.05);
      background: #006f2d;
    }
  }
}

.login-right {
  flex: 1.5;
  padding: 40px;
  background-color: #13512f;

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 8px;
      font-size: 1.3rem;
      color: #ffffff;
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1rem;
    }

    .password-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        padding-right: 40px;
      }

      .btn-toggle-password {
        position: absolute;
        right: 12px;
        background: none;
        border: none;
        color: #008f39;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.2s;

        &:hover {
          color: #006f2d;
        }
      }
    }
  }

  .forgot-link {
    display: block;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #d9d9d9;
    text-decoration: none;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn-login {
    display: block;
    margin: 20px auto 0;
    padding: 12px 25px;
    background: #ffffff;
    color: #005124;
    border: none;
    width: 30%;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition:
      transform 0.2s,
      background 0.3s;

    &:hover {
      transform: scale(1.05);
      background: #2bc266;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    flex: none;
    width: 100%;
    padding: 30px;
  }

  .btn-login {
    width: 100%;
  }
}
