.carousel-wrapper {
  position: relative;
  width: 100%;
  // max-width: 1800px;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 20px;
  border-top: 0px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  height: 400px;
}

.slide-container {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;

  &.active {
    display: block;
    animation: fadeEffect 0.5s;
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;

  h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.img-no-full-no-mask {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 420px;
  width: 28%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.img-full-no-mask {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.25);
  color: inherit;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 10;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &.prev {
    left: 15px;
  }

  &.next {
    right: 15px;
  }
}

.indicators {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 10;

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: currentColor;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .carousel-wrapper {
    height: auto;
    min-height: 450px;
  }

  .text-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 20px;
    text-align: center;
  }

  .img-full-no-mask {
    position: relative;
    width: 100%;
    height: 250px;
  }

  .nav-btn {
    display: none;
  }

  .img-no-full-no-mask {
    position: relative;
    position: relative;
    width: 85%;
    max-width: 320px;
    height: auto;
    margin: 20px auto 40px auto;
    right: auto;
    top: auto;
    transform: none;
    display: block;
    margin-bottom: 0px;
  }
}
